.csc-default {font-family: 'Pridi', sans-serif;font-size: 16px;line-height: 24px;}
h1, .h1,h2, .h2,h3, .h3,h4, .h4,h5, .h5,h6, .h6 {padding: 5px 0;margin:0;color:#8c1515;border:0;font-family: 'Prompt', sans-serif;}
h1, .h1 {display: block;font-size:24px;}
h2, .h2 {padding: 0;font-size:26px;}
h3, .h3, h4, .h4 {padding-right: 10%;min-width: 70%;display: table;margin-bottom: 15px;font-size: 20px;border-bottom: 2px solid #8c1515;padding-bottom:5px;}
h4, .h4, h5, .h5,h6, .h6  {color: #8c1515;}
h5, .h5 {font-size:20px;line-height:24px;}
#footer h3 {border:0;}
.maincontent {min-height:initial;}
.submenu,.submenu li {position:relative;list-style:none;margin:0;padding:0;}
.submenu li a{display: block;padding:5px 15px;background: #fff;color:#544216;margin-bottom: 5px;border: 1px solid #544216;border-radius: 5px;}
.submenu li.active a {font-weight:bold;}
.panel-body ul.ce-menu li a {color:#8c1515;font-weight:600;}
.panel-body ul.ce-menu li ul li a {color:#000;font-weight:300;} 